# Enforce torch first
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu

# Core LLM + LangChain packages
langchain==0.1.17
langchain-core==0.1.52
langchain-community==0.0.37
langchain-openai==0.1.7
langchain-huggingface==0.0.3
langchain-pinecone==0.0.3
langchain-experimental==0.0.1
google-search-results==2.4.2
git+https://github.com/langchain-ai/langchain.git@master#subdirectory=libs/langchain-groq

# Vector DB - Pinecone
pinecone-client==3.0.0

# Embeddings
sentence-transformers==2.6.1
transformers>=4.40.0,<5.0.0
huggingface-hub>=0.16.4,<1.0

# PDF parsing
pypdf==3.17.4

# Web + Env
flask==2.3.3
python-dotenv==1.0.1

# -e .